:root {
	--green: hsl(75, 94%, 57%);
	--white: hsl(0, 0%, 100%);

	--grey-700: hsl(0, 0%, 20%);
	--grey-800: hsl(0, 0%, 12%);
	--grey-900: hsl(0, 0%, 8%);

	font-size: 10px;
}

body {
	font-family: Inter, sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	background: var(--grey-900);
	color: var(--white);

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.profile {
	background: var(--grey-800);
	border-radius: 1em;
	padding: 1.5em 2em;
	min-width: 25rem;
}

.profile__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile__header__picture {
	width: 30%;
	border-radius: 50%;
}

.profile__header__name {
	font-weight: 600;
	margin-bottom: 0;
}

.profile__header__address {
	color: var(--green);
	font-weight: 600;
	margin-bottom: 1em;
}

.profile__links {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 100%;
}

.profile__links a {
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 1em 0;
	color: var(--white);
	font-weight: 600;
	background: var(--grey-700);
	text-align: center;
	border-radius: 0.5em;
}

.profile__links a:hover {
	background: var(--green);
	color: var(--grey-900);
	cursor: pointer;
} 

@media(min-width: 800px) {
	.profile {
		padding: 3em 4em;
	}
}
